<form method="POST" autocomplete="off">
    Nombre:<br />
    <input type="text" name="nombre" /><br />
    Apellido: <br />
    <input type="text" name="apellido" /><br />
    Edad: <br />
    <input type="text" name="edad" /><br />
    <input type="submit" />
    <input type="reset" />
</form>